body {
    background-color: #a5b5ec;
    padding: 50px;
    text-align: center;
    color: #ffffff;
}
h2{
    font-size: 30px;
    color: #213396;
}
h1{
    text-align: center;
    color: #8c0101;
    font-size: 110px;
    font-style: italic;
}
h4{
    color: #1a2891;
    font-size: 30px;
}
p{
    text-align: left;
    color: #4255b7;
    font-size: 18px;
}

@media (min-width: 600px) {
    body {
        background-color: rgb(113, 161, 255);
    }
}

