@font-face {
    font-family: "BebasNeue";
    src: url("BebasNeue-Regular.ttf") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back-to-main {
    background-color: #ffffffe1;
    border-radius: 8px;
    padding: 6px 10px;
    color: #ffffff; 
    display: block;
    text-decoration: none;
    color: #57c4ff;
    font-size: 1.7rem;
    margin-bottom: 20px;
    font-family: "BebasNeue";
    position: absolute; /* Positioned relative to the viewport */
    top: 10px; /* Space from the top of the page */
    left: 10px; /* Space from the left side */
    z-index: 1000; /* High enough to be above other elements */
    transition: color 0.3s;
}

.back-to-main:hover {
    color: #525252;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF8E1;
    margin: 0;
    overflow: hidden;
}

.garden-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.garden-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon {
    position: absolute;
    width: 150px;
    height: 150px;
    transition: transform 0.3s;
}

.icon:hover {
    transform: scale(1.5);
}

/* Icon Positions */
.icon1 { top: 30%; left: 30%; }
.icon2 { top: 30%; left: 60%; }
.icon3 { top: 30%; left: 50%; }
.icon4 { top: 45%; left: 20%; }
.icon5 { top: 25%; left: 18%; }
.icon6 { top: 62%; left: 72%; }

/* Keyframes for Shake */
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}

/* Media Query for Small Screens */
@media (max-width: 600px) {
    .icon {
        width: 90px;
        height: 90px;
        animation: shake 0.2s infinite;
    }
    .icon:hover {
        transform: scale(1.2);
    }

    .icon1 { top: 35%; left: 80%; }
    .icon2 { top: 30%; left: 70%; }
    .icon3 { top: 30%; left: 55%; }
    .icon4 { top: 40%; left: 60%; }
    .icon5 { top: 16%; left: 70%; }
    .icon6, .icon7, .icon8, .icon9, .icon10, .icon11, .icon12, .icon13, .icon14 {
        display: none;
    }

    body {
        overflow: auto;
    }
}

/* Media Query for Medium Screens */
@media (min-width: 600px) and (max-width: 1100px) {
    .icon {
        width: 140px;
        height: 140px;
        animation: shake 0.2s infinite;
    }

    .icon:hover {
        transform: scale(1.3);
    }

    .icon1 { top: 28%; left: 35%; }
    .icon2 { top: 28%; left: 60%; }
    .icon3 { top: 28%; left: 50%; }
    .icon4 { top: 31%; left: 26%; }
    .icon5 { top: 25%; left: 18%; }
    .icon6 { top: 62%; left: 90%; }

    .icon7, .icon8, .icon9, .icon10, .icon11, .icon12, .icon13, .icon14 {
        display: none;
    }

    .garden-container {
        width: 90%;
        max-width: 1000px;
        margin: auto;
    }
}
