@font-face {
    font-family: "ModakReg"; 
    src: url("/fonts/Modak-Regular.ttf") format("woff2");
}
body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFF8E1; 
    margin: 0;
    gap: 20px;
    flex-wrap: wrap;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner {
    width: 100%;
    background-color: #c3995abe;
    color: #FFF8E1;
    text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1); 
    text-align: center;
    font-family: "ModakReg";
    padding: 10px 0; 
    font-size: 35px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.scrolling-text {
    display: inline-block;
    animation: scroll 10s linear infinite;
}
@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
body {
    margin-top: 80px; 
}

.image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
}

.top-row {
    margin-bottom: 20px; 
    margin-top: -120px;
}

.bottom-row{
    margin-top: -100px;
}
img {
    width: 120px; 
    height: auto;
    margin: 10px;
}

.back-to-home {
    position: fixed;
    bottom: 15px; 
    left: 50%;
    transform: translateX(-50%);
}


.back-to-home:hover {
    color: #FF69B4;
}

.home-icon {
    width: 60px;
    height: 40px;
    margin-right: 10px;
    margin-top: 0px; 
}



@media (max-width: 600px) {
    img {
        width: 90px; 
    }
    .back-to-home {
        font-size: 12px; 
    }
    .home-icon {
        width: 40px; 
        height: 30px;
    }
}


@media (min-width: 1200px) {
    img {
        width: 180px; 
    }
    .back-to-home {
        font-size: 16px; 
    }
    .home-icon {
        width: 80px;
        height: 60px;
    }
}



